// navigation //

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
        padding: 0.5rem;
    }
}

.nav-wrapper {
    display: flex;
}

.mobile-nav {
    display:none;
}


// mobile navigation //

@media (max-width:50em) {
    .header-nav {
        display: none;
        position:fixed;
        inset: 5rem 7rem auto;
        background-color: $color-highlight-500;
        border-radius: 0.3rem;
        // box-shadow: 0 0 0.75rem $color-shadow;
        a {
            color:$color-light;
        }
    }

/*  .header-nav::after {
        content: "";
        position: absolute;
        inset:0;
    }
*/
    .header-nav[is-visible] {
        display: block;
    }

    .nav-list {
        padding: 1rem;
        display: grid;
        gap: 3rem;
    }

    .mobile-nav {
        display: block;
        cursor: pointer;
        border: none;
        background: transparent;
        border:0;
        padding:0.5rem;
        i {
        color: $color-highlight-500;
        font-size: $font-medium;
        }
    }
    .mobile-nav .icon-close {
        display: none;
    }
}

.visually-hidden {
    position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.button {
    color:$color-light;
    font-size:$font-small;
    text-transform: uppercase;
    background: $color-highlight-500;
    border: none;
    border-radius:1rem;
}

.featured-home-image {
    width: auto;
    vertical-align: middle;
}

.featured-section-image {
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.social-icons {
    color: $color-light;
    i,
    a {
        color:$color-light;
        font-size: $font-large;
        padding: 0.2rem;
    }
}

.tags {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}