.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
        padding: 0.5rem;
    }
}

.mobile-nav {
    display: none;
}

.button {
    color:$color-light;
    font-size:$font-small;
    text-transform: uppercase;
    background: $color-highlight-500;
    border: none;
    border-radius:1rem;
}

.featured-home-image {
    width: auto;
    vertical-align: middle;
}

.featured-section-image {
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.social-icons {
    color: $color-light;
    i {
        font-size: $font-large;
        padding: 0.2rem;
    }
}

.tags {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}