/* Colors */

$color-light: white;
$color-medium: #929292;
$color-dark: #121212;
$color-highlight-100:#FF669D;
$color-highlight-500:#A9003D;
$color-shadow:#E6E6E6;

/* Fonts - Familys, Sizes, Weights */

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Inter', sans-serif;

$font-x-small: 1rem;
$font-small: 1.5rem;
$font-medium: 1.8rem;
$font-large:2rem;
$font-x-large:3rem;

$font-thin:200;
$font-regular:300;
$font-semi-bold:400;
$font-bold: 600;